<div class="vehicles-container">
  <h1>All available two wheel vehicles</h1>
  <div class="search-vehicles">
    <%= form_tag vehicles_path, method: :get do %>
      <%= select_tag :category, options_for_select(['motorbike', 'electric motorbike', 'bicycle', 'electric bicycle', 'scooter',
     'electric scooter', 'kick scooter', 'electric kick scooter']), prompt: params[:category], include_blank: "Select all",
        class: "form-control"
      %>
      <%= submit_tag "Search", class: "btn btn-primary ml-1" %>
    <% end %>
  </div>

<div class="cards-container">

  <div class="vehicle-list">
    <% @vehicles.each do |vehicle| %>
      <div class="card-trip">
        <img src=<%= vehicle.img_url %> />
        <div class="card-trip-infos">
          <div class="card-trip-description">
            <h2><%= vehicle.name %></h2>
            <p><%= truncate vehicle.description, length: 50  %></p>
             <%= link_to "More details", vehicle_path(vehicle), class: "btn btn-two-wheels" %>
          </div>
          <h2 class="card-trip-pricing"><%= vehicle.cost_per_day %> CHF.-</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
  <!-- <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoibWlja2Fib3JyIiwiYSI6ImNrang1cjY5bTBwZnUydnF1aTFtNzIyY3oifQ.zWT8iwN-8WWmob59ZPL4ag'> -->
  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  ></div>
</div>


</div>
