<section class="jumbotron text-center">
  <div class="container">
    <div class='vehicle-banner-show'>
      <% if @vehicle.img_url %>
        <%= image_tag(@vehicle.img_url) %>
      <% end %>
    </div>
  </div>
</section>

<div class="card mb-3">
  <div class="card-body">
    <div class='row'>
      <div class='col-8 col-lg-8'>
        <h3><%= @vehicle.name %></h3>
        <h6 class='pt-2'>Category</h6>
        <p><%= @vehicle.description %></p>
      </div>
      <div class='col-4 col-lg-4'>
        <h5>Price per day <strong><%= @vehicle.cost_per_day %> CHF .-</strong> </h5>

         <%= link_to "Book", '#', class: "mt-5 btn btn-dark" %>
      </div>
    </div>
  </div>
</div>
