<section class="jumbotron text-center">
  <div class="container">
    <div class='vehicle-banner-show'>
      <%= image_tag(@vehicle.img_url) %>
    </div>
  </div>
</section>

<div class="card mb-3">
  <div class="card-body">
    <div class='row'>
      <div class='col-8 col-lg-8'>
        <h3><%= @vehicle.name %></h3>
        <h6 class='pt-2'>Category</h6>
        <p><%= @vehicle.description %></p>
      </div>
      <div class='col-4 col-lg-4'>
        <h5>Price per day <strong><%= @vehicle.cost_per_day %> CHF .-</strong> </h5>

        <%= form_tag(bookings_path, method: 'post') do %>
          <%= hidden_field_tag 'booking[vehicle_id]', @vehicle.id %>
          <%= select_tag('booking[number_of_days]', options_for_select((1..10).to_a), prompt: 'Number of days to book', class: 'form-control') %>
          <%= button_tag 'Book', class: 'mt-5 btn btn-dark' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
